*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle

# Others
bin/
eclipse/
.classpath
run/
out/
*.iml
*.ipr
*.iws

extern
node_modules
tmp
vendor
/MovingWorld/project_libraries
ArchimedesShips.iws
/MovingWorld/MovingWorld.iws
gradle-app.setting
ui/native/19/windows-amd64/native-platform.dll.lock
Compilation
src/main/resources/referenceassets/
build/
.idea/
*.hprof
/MovingWorld/build/compound/com/tridevmc/compound/config/CompoundConfig.java
/MovingWorld/build/compound/com/tridevmc/compound/config/CompoundModConfig.java
/MovingWorld/build/compound/com/tridevmc/compound/config/ConfigField.java
/MovingWorld/build/compound/com/tridevmc/compound/config/ConfigType.java
/MovingWorld/build/compound/com/tridevmc/compound/config/ConfigValue.java
/MovingWorld/build/compound/com/tridevmc/compound/config/ForgeRegistryEntrySerializer.java
/MovingWorld/build/compound/com/tridevmc/compound/config/IConfigObjectSerializer.java
/MovingWorld/build/compound/com/tridevmc/compound/config/RangedDouble.java
/MovingWorld/build/compound/com/tridevmc/compound/config/RangedInt.java
/MovingWorld/build/compound/com/tridevmc/compound/config/RangedLong.java
/MovingWorld/build/compound/com/tridevmc/compound/config/RegisteredConfigObjectSerializer.java
/MovingWorld/build/compound/com/tridevmc/compound/core/reflect/WrappedField.java
/MovingWorld/build/compound/com/tridevmc/compound/core/reflect/WrappedMethod.java
/MovingWorld/build/compound/com/tridevmc/compound/core/registration/IRegistrator.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/grid/WidgetGrid.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/grid/WidgetGridNormal.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/widget/WidgetBase.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/widget/WidgetTest.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/CompoundGui.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/CompoundTestGui.java
/MovingWorld/build/compound/com/tridevmc/compound/gui/MouseState.java
/MovingWorld/build/compound/com/tridevmc/compound/network/core/CompoundClientHandler.java
/MovingWorld/build/compound/com/tridevmc/compound/network/core/CompoundNetwork.java
/MovingWorld/build/compound/com/tridevmc/compound/network/core/CompoundServerHandler.java
/MovingWorld/build/compound/com/tridevmc/compound/network/core/ICompoundNetworkHandler.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/DefaultMarshallers.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/EnumMarshallerPriority.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/Marshaller.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/MarshallerMetadata.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/RegisteredMarshaller.java
/MovingWorld/build/compound/com/tridevmc/compound/network/marshallers/SetMarshaller.java
/MovingWorld/build/compound/com/tridevmc/compound/network/message/Message.java
/MovingWorld/build/compound/com/tridevmc/compound/network/message/MessageConcept.java
/MovingWorld/build/compound/com/tridevmc/compound/network/message/MessageField.java
/MovingWorld/build/compound/com/tridevmc/compound/network/message/RegisteredMessage.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/container/CompoundContainer.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/container/CompoundUIContainer.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/button/ElementButton.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/button/IButtonHoverListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/button/IButtonPressListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/container/ElementSlot.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/Element.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/ElementBox.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/ElementLabel.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/element/IElement.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/ILayout.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutCentered.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutGrid.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutMarquee.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutMulti.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutNone.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/layout/LayoutRelative.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/ICharTypeListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IKeyPressListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IKeyReleaseListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IMouseDraggedListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IMousePressListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IMouseReleaseListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/listeners/IMouseScrollListener.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/screen/CompoundScreenContext.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/screen/IScreenContext.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/CompoundUI.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/EnumUILayer.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/ICompoundUI.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/IInternalCompoundUI.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/Rect2D.java
/MovingWorld/build/compound/com/tridevmc/compound/ui/UVData.java
/MovingWorld/build/compound/META-INF/MANIFEST.MF
/MovingWorld/build/createMcpToSrg/output.tsrg
/MovingWorld/build/downloadMCMeta/version.json
/MovingWorld/build/downloadMcpConfig/output.zip
/MovingWorld/build/extractSrg/output.srg
/MovingWorld/build/natives/META-INF/INDEX.LIST
/MovingWorld/build/natives/META-INF/MANIFEST.MF
/MovingWorld/build/natives/libfliteWrapper.so
/MovingWorld/build/natives/libglfw.so
/MovingWorld/build/natives/libglfw.so.git
/MovingWorld/build/natives/libglfw.so.sha1
/MovingWorld/build/natives/libglfw_wayland.so
/MovingWorld/build/natives/libglfw_wayland.so.git
/MovingWorld/build/natives/libglfw_wayland.so.sha1
/MovingWorld/build/natives/libjemalloc.so
/MovingWorld/build/natives/libjemalloc.so.git
/MovingWorld/build/natives/libjemalloc.so.sha1
/MovingWorld/build/natives/liblwjgl.so
/MovingWorld/build/natives/liblwjgl.so.git
/MovingWorld/build/natives/liblwjgl.so.sha1
/MovingWorld/build/natives/liblwjgl_opengl.so
/MovingWorld/build/natives/liblwjgl_opengl.so.sha1
/MovingWorld/build/natives/liblwjgl_stb.so
/MovingWorld/build/natives/liblwjgl_stb.so.sha1
/MovingWorld/build/natives/libopenal.so
/MovingWorld/build/natives/libopenal.so.git
/MovingWorld/build/natives/libopenal.so.sha1
/MovingWorld/build/reobfJar/log.txt
/MovingWorld/build/resources/main/META-INF/mods.toml
/MovingWorld/build/resources/main/movingworld_logo.png
/MovingWorld/build/resources/main/pack.mcmeta
/MovingWorld/build/resources/test/mixins.movingworld.experiments.zip
/MovingWorld/build/tmp/jar/MANIFEST.MF
/MovingWorld/build/tmp/shadowJar/MANIFEST.MF
