*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle

# Others
bin/
eclipse/
.classpath
run/
out/
*.iml
*.ipr
*.iws

extern
node_modules
tmp
vendor
/MovingWorld/project_libraries
.idea/workspace.xml
.idea/misc.xml
ArchimedesShips.iws
/MovingWorld/MovingWorld.iws
gradle-app.setting
ui/native/19/windows-amd64/native-platform.dll.lock
Compilation
src/main/resources/referenceassets/
build/
